.header {
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid $border-header-color;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: 88px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $title-color;

    transition: color $animation-duration $animation-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .header-contacts {
    margin-left: auto;
  }

  .header-contacts__icon {
    margin-right: 8px;

    &-email {
      width: 14px;
      height: 10px;
    }

    &-tel {
      width: 10px;
      height: 14px;
    }

    fill: currentColor;
  }

  .header-contacts__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: inherit;

    transition: color $animation-duration $animation-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current-page {
    position: relative;

    color: $accent-color;

    &::after {
      content: "";

      position: absolute;
      bottom: -23px;

      display: block;
      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-top: 10px;
    }

    &:not(:first-child) {
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 21px;
    padding-bottom: 22px;
  }

  .header__logo {
    margin-right: 93px;
  }

  .header-contacts {
    display: flex;
  }

  .header-contacts__item {
    padding-top: 10px;
    padding-bottom: 10px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
