.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 400px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  background-image: linear-gradient($hero-gradient-color, $hero-gradient-color),
    url("../images/hero/hero-cover-mobile.jpg");
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $main-white-color;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url("../images/hero/hero-cover-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url("../images/hero/hero-cover-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px),
  (min-resolution: 192dpi) and (min-width: 481px),
  (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url("../images/hero/hero-cover-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;

    background-image: linear-gradient(
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url("../images/hero/hero-cover-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  (min-resolution: 192dpi) and (min-width: 769px),
  (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url("../images/hero/hero-cover-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }

  .hero__title {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $main-white-color;
  }
}
