.project {
  &__list {
    @include grid-list;
  }

  &__item {
    @include grid-item(3);
  }

  &__link {
    display: block;

    color: $main-text-color;

    transition: box-shadow $animation-duration $animation-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    transform: translateY(100%);

    display: flex;
    padding: 24px;
    width: 100%;
    height: 100%;

    background-color: $projects-overlay-color;

    transition: transform $animation-duration $animation-function;

    .project__link:hover &,
    .project__link:focus & {
      transform: translateY(0%);
    }
  }

  &__discription {
    margin: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $main-white-color;
  }

  &__card {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid $border-card-color;
    border-bottom: 1px solid $border-card-color;
    border-left: 1px solid $border-card-color;
  }

  &__client {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $title-color;
  }

  &__filter {
    font-size: $secondary-font-size;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
