.team {
  background-color: $light-bg-color;

  &__list {
    @include grid-list;
  }

  &__item {
    @include grid-item(4);
  }

  &__card {
    padding: 30px 32px;

    background-color: $main-white-color;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: $secondary-font-size;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-color;
  }

  &__position {
    margin-bottom: 16px;
    text-align: center;

    font-size: $secondary-font-size;
    letter-spacing: 0.03em;
  }
}
