.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $accent-color;

  &__end {
    &_theme_light {
      color: $main-black-color;
    }

    &_theme_dark {
      color: $main-white-color;
    }
  }
}
