@mixin grid-list($gap: 30px) {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$gap;
  margin-left: -$gap;
}

@mixin grid-item($column, $gap: 30px) {
  margin-top: $gap;
  margin-left: $gap;
  flex-basis: calc((100% / #{$column}) - #{$gap});
}
