$main-font: "Roboto", "Arial", "Calibri", "San Fransisco", sans-serif;
$logo-font: "Raleway", "Arial", "Calibri", "San Fransisco", sans-serif;
$main-font-size: 14px;
$secondary-font-size: 16px;
$main-white-color: #ffffff;
$main-black-color: #000000;
$accent-color: #2196f3;
$main-text-color: #757575;
$title-color: #212121;
$address-color: rgba(255, 255, 255, 0.6);
$light-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$footer-icons-bg-color: rgba(255, 255, 255, 0.1);
$modal-btn-hov-color: #188ce8;
$border-header-color: #ececec;
$border-card-color: #eeeeee;
$social-media-color: #afb1b8;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$hero-backdrop-color: rgba(0, 0, 0, 0.2);
$close-btn-border-color: rgba(0, 0, 0, 0.1);
$projects-overlay-color: rgba(33, 150, 243, 0.9);
$doing-overlay-color: rgba(47, 48, 58, 0.8);
$border-color: rgba(255, 255, 255, 0.3);
$placeholder-color: rgba(255, 255, 255, 0.6);
$input-border-color: rgba(33, 33, 33, 0.2);
$input-placeholder-color: rgba(117, 117, 117, 0.5);
$animation-duration: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
